*.bin
.env
venv/
lith-ranker/lith-ranker

# Vegh files (CodeTease's Snapshot tool)
*.vegh 
.veghcache
# PyVegh's Vegh Hooks configuration file
.veghhooks.json 
# Old Vegh files extension, but kept for backward compatibility
*.snap

# Node
node_modules/
